@use '../helpers' as *;

.burger-button {
  display: none;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;

  @include tablet {
    display: flex;
  }

  @include square(rem(44));

  &__inner {
    display: flex;
    row-gap: rem(5);
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: rem(26);
    height: 100%;
  }

  &__line {
    display: block;
    transition-duration: var(--transition-duration);
    background-color: var(--color-white);
    width: 100%;
    max-width: rem(26);
    height: rem(3);

  }

  @include tablet {
    display: flex;
  }
}
