@use '../helpers' as *;

.conversion {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: opacity var(--transition-duration);
  border-radius: 8px;
  text-align: center;

  &__content {
    margin-top: -45px;
    width: 100%;
  }

  &__value {
    color: var(--color-chart-procent);
    font-weight: 600;
    font-size: 28px;
  }

  &__text {
    font-size: 12px;
    line-height: 1.3;
    text-align: center;

    p {
      margin-inline: auto;
      max-width: 80px;
      color: var(--color-conversion-text);
    }
  }
}
