@use '../helpers' as *;

.datepicker {
  .icon {
    height: auto;
    color: var(--color-datepicker-icon);
  }

  &__label {
    display: flex;
    column-gap: 15px;
    align-items: center;
  }

  &__field {
    border: 1px solid var(--color-datepicker-border);
    border-radius: var(--rounded-m);
    background: transparent;
    padding: 6px 12px;
    max-width: 100px;
    min-height: 33px;
    color: var(--color-datepicker-text);
    font-size: 14px;
    line-height: 1.2;
  }
}
