@use '../helpers' as *;

.deal-card {
  display: flex;
  column-gap: 12px;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow-base);
  border-radius: var(--rounded-xl);
  background: var(--color-bg-deal-card);
  padding: 16px 12px;

  @include tablet {
    row-gap: 20px;
    flex-direction: column;
    align-items: start;
  }

  &__info {
    display: flex;
    row-gap: 8px;
    flex-direction: column;
    max-width: 340px;

    @include tablet {
      max-width: 100%;
    }
  }

  &__name {
    background: var(--color-deal-card);
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.35;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  &__details {
    &-copy-button {
      display: inline-flex;
      border: none;
      border-radius: 150px;
      background: var(--color-deal-card-label-bg);
      padding: 3px 9px;
      color: var(--color-label-cooling-copy);
      font-size: 12px;
      line-height: 1.3;

      @include tablet {
        margin-bottom: 4px;
      }
    }

    span {
      display: inline-flex;
      border-radius: 150px;
      background-color: var(--color-deal-card-label-bg);
      padding: 3px 9px;
      color: var(--color-label-cooling-copy);
      font-size: 12px;
      line-height: 1.3;

      @include tablet {
        &:nth-child(-n + 2) {
          margin-bottom: 4px;
        }
      }
    }
  }

  &__timer {
    display: flex;
    column-gap: 12px;
    align-items: center;

    @include tablet {
      column-gap: 20px;
    }
  }

  &__progress {
    display: flex;
    row-gap: fluid(8, 4);
    flex-direction: column;
    align-items: center;
    width: 350px;

    @include tablet {
      width: 265px;
    }

    &-bar {
      border-radius: var(--rouneded-xxl);
      background-color: var(--color-deal-card-progress-bar);
      width: 100%;
      height: 6px;
      overflow: hidden;

      @include tablet {
        width: 265px;
      }

      &-item {
        transition: width var(--transition-duration) linear;
        border-radius: var(--rouneded-xxl);
        background: var(--color-deal-card-progress-bar-active);
        width: 100%;
        height: 100%;
      }
    }

    &-footer {
      display: flex;
      flex-direction: column;
      max-width: 167px;
      color: var(--color-progress-text);

      p {
        font-size: 12px;
        line-height: 1.3;
        text-align: center;
      }
    }
  }

  &__copy-to-clipboard {
    border: none;
    border-radius: 50%;
    background-color: var(--color-deal-card-copy);

    @include square(36px);
    @include flex-center;

    @include hover {
      background-color: var(--color-deal-card-copy-hover);
    }
  }
}
