@use '../helpers' as *;

.input {
  display: inline-flex;
  position: relative;
  width: 100%;
  max-width: 291px;

  @include tablet {
    max-width: 345px;
  }

  &__icon {
    display: block;
    position: absolute;
    top: calc(50% - 8px);
    right: 12px;
    border: none;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    padding: 0;
    content: '';

    @include square(16px);

    &.is-search {
      .icon.icon--cross {
        display: none;
      }
    }

    &.is-clear {
      .icon.icon--search {
        display: none;
      }
    }
  }

  &__field {
    border: 1px solid var(--color-input-border);
    border-radius: var(--rounded-m);
    background-color: var(--color-input-bg);
    padding: 12px 36px 12px 12px;
    width: 100%;
    font-size: 14px;
    line-height: 1.2;
    color: var(--color-input-field);

    &:focus {
      transition-duration: var(--transition-duration);
      border-color: var(--color-input-focus);
    }
  }
}
