@font-face {
  font-family: "GraphikLCWeb";
  src: url("../fonts/GraphikLCWeb-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GraphikLCWeb";
  src: url("../fonts/GraphikLCWeb-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GraphikLCWeb";
  src: url("../fonts/GraphikLCWeb-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
