@use 'helpers' as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  @include fluid-text(18, 14);

  display: flex;
  position: relative;
  flex-direction: column;
  background-color: var(--color-bg);
  padding-bottom: 20px;
  overflow-x: hidden;
  font-family: var(--font-family-base);
  letter-spacing: -0.03em;
}

main {
  flex-grow: 1;
}

//h1, .h1,
//h2, .h2,
//h3, .h3,
//h4, .h4,
//h5, .h5,
//h6, .h6 {
//  color: var(--color-light);
//}
//
//h1, .h1,
//h2, .h2,
//h3, .h3 {
//  font-family: var(--font-family-accent);
//  font-weight: 500;
//}
//
//h4, .h4,
//h5, .h5,
//h6, .h6 {
//  font-weight: 600;
//}
//
h1,
.h1 {
  color: var(--color-main-title);
  font-size: 40px;
  line-height: 1.2;
}

h2,
.h2 {
  color: var(--color-title-additional);
  font-weight: 600;
  font-size: fluid(24, 20);
  line-height: 1.3;
}
//
//h3, .h3 {
//  @include fluid-text(40, 24);
//}
//
h4,
.h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
}
//
//h5, .h5 {
//  @include fluid-text(24, 18);
//}
//
//h6, .h6 {
//  @include fluid-text(20, 16);
//}

p {
  --paragraphMarginBottom: #{rem(24)};
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  transition-duration: 0s !important;
  outline: rem(2) dashed var(--color-light);
  outline-offset: rem(4);
}

a,
button {
  &[aria-label] {
    position: relative;

    &::before {
      @include abs-center;
      @include square(rem(44));

      content: '';
    }
  }
}
