@use 'helpers' as *;

.container {
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
  width: 100%;
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);

  &--sm {
    max-width: calc(var(--container-sm-width) + var(--container-padding-x) * 2);
  }

  &--xs {
    max-width: calc(var(--container-xs-width) + var(--container-padding-x) * 2);
  }

  &--contents {
    @include tablet {
      display: contents;
    }
  }

  @include mobile {
    --container-padding-x: 15px;
  }
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}
